/* start basic style */
@font-face {
  font-family: ping-medium;
  src: url("../webfonts/PingAR+LT-Medium.otf");
}

@font-face {
  font-family: ping-bold;
  src: url("../webfonts/PingAR+LT-Bold.otf");
}

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #262f6a;
  --secondary-color: #ff881b;
}

body {
  font-family: ping-medium;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  outline: 1px solid var(--primary-color);
  border-radius: 20px;
}

::selection {
  background: var(--primary-color);
  /* WebKit/Blink Browsers */
  color: #fff;
}

::-moz-selection {
  background: var(--primary-color);
  /* Gecko Browsers */
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: ping-bold;
  margin: 0;
}

a {
  text-decoration: none;
}
a {
  color: #000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

::placeholder {
  color: #989898 !important;
}

input:focus,
.form-control:focus {
  box-shadow: none;
  outline: none;
}
input[type="number"],
input[type="email"] {
  direction: rtl;
}

/* end basic style */
/* select2 */
.select2-container {
  direction: rtl;
}

.select2-container--default .select2-selection--single {
  width: 100%;
  background-color: #fff;
}

.select2-container .select2-selection--single {
  height: 50px;
  padding-top: 10px;
  border: 0.25px solid #262f6a;
  border-radius: 25px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  position: relative !important;
  border: 0px !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b::before {
  position: absolute;
  display: inline-block;
  font-family: "Font Awesome 6 Free";
  content: "\f078";
}

.select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b::before {
  position: absolute;
  display: inline-block;
  font-family: "Font Awesome 6 Free";
  content: "\f077";
}

.select2-search--dropdown .select2-search__field {
  direction: rtl;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: #ebebeb;
  color: #000;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: #ebebeb;
  color: #000;
}

.select2-container--default .select2-results > .select2-results__options {
  direction: rtl;
}
.select2-hidden-accessible {
  display: none;
}
/* modal */
.modal-body {
  text-align: center;
}

.modal-body p {
  font-size: 22px;
  color: #000;
  padding: 30px 0;
}

.modal-body .svg-inline--fa {
  color: #fff;
  width: 76px;
  height: 76px;
  background-color: #00ba00;
  border-radius: 50%;
  padding: 10px;
}

.modal-header {
  display: block;
  border: 0px;
}

.modal-content {
  border-radius: 18px;
  border: 0px;
  width: 462px;
  margin: auto;
}

.modal-dialog {
  max-width: 600px;
}
.modal {
  z-index: 9999999;
}
/* error-invalid */

.form-control.is-invalid {
  background-image: none;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.invalid {
  border: 1px solid red;
}

.error-message {
  color: red;
}
.heading {
  justify-content: space-between;
  padding-bottom: 30px;
}

.title {
  font-size: 24px;
  margin-bottom: 15px;
}
.sub-title {
  font-size: 16px;
}
.left-links {
  margin-top: 15px;
}
.links {
  color: var(--secondary-color);
  font-size: 15px;
  text-decoration: underline;
  padding-bottom: 15px;
}

/* start navbar */

.navbar {
  padding-top: 10px;
  padding-bottom: 15px;
}

.shadow-navbar {
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--secondary-color);
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-size: 15px;
  padding: 1rem 0.5rem;
}

.dropdown-toggle::after {
  border-top: 0.3em solid var(--primary-color);
}

.navbar-nav .nav-item:nth-of-type(3) {
  position: relative;
}

.navbar-nav .nav-item span {
  border-radius: 4px;
  background-color: #10a26f;
  color: #fff;
  position: absolute;
  padding: 1px 12px;
  font-size: 12px;
  left: 0px;
  bottom: 40px;
}

.navbar .actions ul .add a {
  width: 140px;
  height: 51px;
  border-radius: 26.5px;
  background: rgba(38, 47, 106, 0.07);
  display: table;
  text-align: center;
  color: #000;
  margin-left: 20px;
  margin-right: 20px;
}
.navbar .actions ul .login a {
  width: 161px;
  height: 51px;
  border-radius: 30px;
  border: 0.5px solid #000;
  display: table;
  text-align: center;
}

.navbar .actions .dropdown a {
  color: #000;
  font-size: 16px;
  padding: 0px;
}

.navbar .actions .dropdown-toggle::after {
  display: none;
}

.navbar .actions .dropdown-menu {
  width: 168px;
  height: auto;
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 9px;
  padding: 5px 5px 10px 5px;
}
.navbar .actions .download a {
  border-radius: 26.5px;
  background: rgba(255, 136, 27, 0.12);
  width: 162px;
  height: 51px;
  display: table;
}
.navbar .actions .download a span .photo,
.navbar .actions ul .add a span .photo,
.navbar .actions ul .login a span .photo {
  position: relative;
  width: 41px;
  height: 41px;
  background-color: #fff;
  border-radius: 50%;
  top: 5px;
  right: 10px;
}
.navbar .actions ul .login a span .photo {
  background-color: #f5f5f5;
}
.navbar .actions .download a span .word,
.navbar .actions ul .add a span .word,
.navbar .actions ul .login a span .word {
  padding-top: 15px;
  padding-right: 20px;
}
.navbar .actions .download a span .photo img,
.navbar .actions ul .add a span .photo img,
.navbar .actions ul .login a span .photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33px;
  height: 33px;
}
.navbar .actions ul .login a span .photo img {
  width: 21px;
  height: 21px;
}
.navbar .help {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 17px;
  min-width: 184px;
  text-align: center;
  padding: 15px 5px;
}

.navbar .help p {
  font-size: 14px;
  padding-bottom: 10px;
}

.navbar .help-toggle::after {
  display: none;
}

.navbar .actions .download .download-app {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 11px;
  min-width: 153px;
  width: auto;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar .actions .download img {
  width: 100%;
  height: auto;
  border-radius: 0px;
}

.navbar .actions .download .download-app li {
  margin-bottom: 15px;
}

.navbar .actions .download .download-app a {
  background-color: transparent;
  border: 0px;
  padding: 0px;
}
.navbar .actions .download .download-app li:last-of-type {
  margin-bottom: 0px;
}

.navbar .actions .download a:hover {
  color: #fff !important;
}
.btn-close {
  display: none;
}

.offcanvas {
  flex-direction: row;
}
.navbar-brand {
  width: 15% !important;
}

@media (min-width: 320px) and (max-width: 768px) {
  .navbar-brand {
    width: 50% !important;
  }
}
/*  hero-section */
.hero-section {
  background-image: url("../images/Rectangle\ 21.png");
  min-height: calc(100vh - 84px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section .overlay {
  width: 100%;
  height: 100%;
  background: rgba(38, 47, 106, 0.67);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero-section .content {
  color: #fff;
  z-index: 1;
  text-align: center;
  width: 100%;
}
.hero-section .content h1 {
  font-size: 28px;
  margin-bottom: 10px;
}
.hero-section .content p {
  font-size: 22px;
  margin-bottom: 15px;
}
.hero-section .search {
  background-color: #fff;
  border-radius: 16px;
  width: 70%;
  justify-content: space-between;
  margin: auto;
  padding: 10px;
}
.hero-section .search .choose {
  border-radius: 10px;
  border: 1px solid #a7a7a7;
  background: #fff;
  padding: 10px;
  width: 100%;
}
.hero-section .search .btn-check:checked + .btn-outline-primary {
  border-radius: 10px;
  background: rgba(255, 136, 27, 0.08);
  color: #000;
  box-shadow: none;
  outline: none;
}
.hero-section .search .btn-outline-primary {
  border: 0px;
  color: #000;
}
.hero-section .search .btn-outline-primary:hover {
  background-color: transparent;
  color: #000;
}
.hero-section .search .enterPlace input {
  border-radius: 10px;
  border: 0.5px solid #a7a7a7;
  background: #fff;
  width: 100%;
  height: 58px;
  padding-right: 40px;
}
.hero-section .search .enterPlace {
  position: relative;
}
.hero-section .search .enterPlace img {
  position: absolute;
  right: 5px;
  top: 12px;
}
.hero-section .search button {
  border-radius: 10px;
  background: #ff881b;
  color: #fff;
  border: none;
  height: 58px;
  width: 100%;
}
/* estateCities */
.estateCities {
  padding-top: 70px;
  padding-bottom: 70px;
}
.estateCities .place {
  border-radius: 11px;
  border: 1px solid #d9d9d9;
  background: rgba(255, 255, 255, 0.14);
  transition: all 0.1s ease-in-out;
}
.estateCities .place:hover {
  background: rgba(255, 136, 27, 0.05);
  border: 1px solid rgba(255, 136, 27, 0.08);
}
.estateCities .place:hover a {
  color: var(--secondary-color) !important;
}
.estateCities .place .parent {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
}
.estateCities .place .parent .info {
  padding: 20px 20px 25px 0px;
}
.estateCities .place .parent .info h2 {
  font-size: 18px;
  padding-bottom: 15px;
}
.estateCities .place .parent .info p {
  font-size: 15px;
  padding-bottom: 8px;
  color: #858585;
}
.estateCities .place .parent .info a {
  font-size: 15px;
  color: #000;
  text-decoration: underline;
}

.estateCities .place .parent .photo img {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  z-index: 999999999999999;
}
.estateCities .place:hover .photo .primary {
  opacity: 0;
}
.estateCities .place:hover .photo .secondary {
  opacity: 1;
}
.estateCities .place .photo .primary {
  opacity: 1;
}
.estateCities .place .photo .secondary {
  opacity: 0;
}
/* banners */
.banners .banner {
  position: relative;
  overflow: hidden;
  padding: 40px 40px;
  border-radius: 27px;
}

.banners .banner .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    257deg,
    rgba(38, 47, 106, 0.93) 35.19%,
    rgba(38, 47, 106, 0) 98.99%
  );
  z-index: 1;
  border-radius: 27px;
}
.banners .banner h2,
.banners .banner p,
.banners .banner a {
  color: #fff;
  z-index: 2;
  position: relative;
}
.banners .banner h2 {
  font-size: 18px;
  padding-bottom: 20px;
}
.banners .banner p {
  font-size: 15px;
  max-width: 70%;
  padding-bottom: 30px;
  line-height: 26px;
}
.banners .banner a {
  display: table;
  background-color: var(--secondary-color);
  border-radius: 27px;
  width: 177px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
/* feature-offices */
.feature-offices {
  padding-top: 70px;
  padding-bottom: 70px;
  overflow: hidden;
}
.feature-offices .swiper-container {
  width: 100%;
  overflow: hidden;
}
.feature-offices .swiper-wrapper {
  width: 100%;
  position: relative;
}
.feature-offices .swiper-slide {
  border-radius: 19px;
  border: 1px solid #d9d9d9;
  padding: 15px;
  padding-bottom: 0px;
}
.feature-offices .swiper-slide .parent {
  display: flex;
  flex-wrap: nowrap;
}
.feature-offices .swiper-slide .parent .info {
  margin-right: 20px;
  margin-top: 10px;
  width: 60%;
}
.feature-offices .swiper-slide .parent .info h2 {
  color: var(--primary-color);
  font-size: 18px;
  padding-bottom: 10px;
}
.feature-offices .swiper-slide .parent .info p {
  font-size: 15px;
}
.feature-offices .swiper-slide .parent .info a {
  color: var(--secondary-color);
  font-size: 15px;
  text-decoration: underline;
  float: left;
}
.feature-offices .swiper-slide .parent .info .sale {
  padding-bottom: 10px;
}
.feature-offices .swiper-slide .parent .info .rent {
  padding-bottom: 20px;
}
.feature-offices .swiper-slide .parent .photo {
  width: 40%;
}
.feature-offices .swiper-slide .parent .photo img {
  border-radius: 15px;

  width: 100%;
  height: 150px;
}
/* Positioning the navigation buttons */
.feature-offices .swiper-button-next,
.feature-offices .swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: var(--primary-color); /* Adjust the color as needed */
  background-color: #fff; /* Add a background color if needed */
  padding: 10px; /* Add padding to make buttons larger */
  border-radius: 50%; /* Make buttons circular */
  cursor: pointer; /* Add a pointer cursor */
}

/* Next button on the right */
.feature-offices .swiper-button-next {
  right: 10px; /* Adjust the spacing from the right */
}

/* Prev button on the left */
.feature-offices .swiper-button-prev {
  left: 10px; /* Adjust the spacing from the left */
}

/* Optional: Add hover effects for better user interaction */
.feature-offices .swiper-button-next:hover,
.feature-offices .swiper-button-prev:hover {
  background-color: var(--primary-color);
  color: #fff; /* Change the icon color on hover */
}

